{% extends 'base.html' %}

{% block head %}
<title>metal ion battery voltage</title>
<style>
	a:link { text-decoration: none;color:rgb(124, 123, 123)}
	a:hover { text-decoration:underline;color: darkorange} 
	a:visited { text-decoration: none;color: rgb(124, 123, 123)}
</style>
{% endblock %}

{% block body %}

<div class='header'>
    <br>
        <h1 style="font-size:40px"> Web Toolkit for Voltage of Electrodes in Metal-ion Batteries</h1>
</div>
<nav class='navbar' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <ul class='nav navbar-nav'>
                <li  style='display: inline; list-style:none; margin:0 20px;'>
                    <a href='/'>home</a>
                </li>
                <li  style='display: inline; list-style:none; margin:0 20px;'>
                    <a href='/about'>about</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content" style='margin-left: 5%; margin-right: 10%'>
    <h1 style='text-align: center;'> About </h1>
    This website was developed by 
    
    <ul>
        <li> 
            Dr. Zhang Xiuying, Physics, NUS  
        </li>
        <li> 
            Dr. Shen Lei, Engineering, NUS  
        </li>
        
    </ul>
    with technical support from
    <ul>
        Dr. Miguel Dias Costa, CA2DM, NUS
    </ul>
    using computational resources provided by CA2DM.
    <br>
    <br>
    The work was performed in collaboration with 
    <a style='color: blue' target='_blank' href='https://materialsproject.org/'>the Materials Project</a>
    database and relies heavily on associated tools such as
    <ul>
        <li>
            <a style='color: blue' target='_blank' href='https://pymatgen.org/'>Pymatgen</a>
        </li>
        <li>
            <a style='color: blue' target='_blank' href='https://hackingmaterials.lbl.gov/matminer/'>Matminer</a>
        </li>
        <li>
            <a style='color: blue' target='_blank' href='https://scikit-learn.org/stable/'>Scikit-learn</a>
        </li>
        <li>
            <a style='color: blue' target='_blank' href='https://pytorch.org/'>Pytorch</a>
        </li>
    </ul>
  
</div>
<div class='header' style="font-size:15px">

    <br>
    Please send us an email if you have any feedback on this site, esprcially on new models, 
    tool or datasets that you would like included.
    <br>

    Contact: Dr. Shen Lei at 
    <a target='_blank' href='https://www.eng.nus.edu.sg/me/staff/shen-lei/' style='color: blue'>shenlei@nus.edu.sg</a>
    <br>
    9 Engineering Drive 1, Block EA, 117575
</div>
{% endblock %}
