{% extends 'base.html' %}

{% block head %}
<title>metal ion battery voltage</title>
<style>
	a:link { text-decoration: none; color:rgb(124, 123, 123)}
	a:active { text-decoration:blink}
	a:hover { text-decoration:underline; color: darkorange} 
	a:visited { text-decoration: none; color: rgb(124, 123, 123)}
</style>

{% endblock %}

{% block body %}
	
	<div class='header'>
	<br>
		<h1 style="font-size:40px"> Web Toolkit for Voltage of Electrodes in Metal-ion Batteries</h1>
	</div>
	<nav class='navbar' role='navigation'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<ul class='nav navbar-nav'>
					<li  style='display: inline; list-style:none; margin:0 20px;'>
						<a href='/'>home</a>
					</li>
					<li  style='display: inline; list-style:none; margin:0 20px;'>
						<a href='/about'>about</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="content" style='margin-left: 100px; margin-right: 10%; width: 80%;'>
		<div class="form">
			<form action='/' method='POST' enctype="multipart/form-data">
				<ol>
					<li>
						<h3> Choose the working ion </h3>
						<select name='working_ion' id='content'>
							<option value='Li'>Li</option>
							<option value='Na'>Na</option>
							<option value='K'>K</option>
							<option value='Rb'>Rb</option>
							<option value='Cs'>Cs</option>
							<option value='Mg'>Mg</option>
							<option value='Ca'>Ca</option>
							<option value='Zn'>Zn</option>
							<option value='Y'>Y</option>
							<option value='Al'>Al</option>
						</select>
					</li>

					<li>
						<h3> Give a matierla to be used as electrode </h3>
						<ul>
							<li>
								Upload a cif file that is used as electrode:
								<br>
								<input type = "file" name = "file" id='content'>	
							</li>
							<li>
								Input the material ID in the Materials Project:
								<br>
								<input type="text" name="material_id" id="content" placeholder='eg. mp-80'>
								<br>
								<a style='color: blue' href="https://www.materialsproject.org/">Link to Materials Project</a>
							</li>
						</ul>
					</li>
				</ol>
				<br>
				<input type="submit" value='Predict Voltage' id='button'>
			</form>
		</div>

		<br>
		<br>

		<div class='papers'>
			<h4>When using the data and information on this website in a publication, please cite the following two papers:</h4>
			<a style='color: blue'href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.120.145301">Crystal Graph Convolutional Neural Networks for an Accurate and Interpretable Prediction of Material Properties</a>
			<p>Phys. Rev. Lett. 120, 145301 (2018)</p>
			<a  style='color: blue' href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.120.145301">CGCNN Model Predict the Voltage of Metal-ion Battery Electrodes </a>
			<p >arxiv (2020)</p>
		</div>

	    </br>

		<div class="img" style="text-align:center;" >
			<img src="static/NUSlogo.jpg" width="329" height="200">
		</div>
			
	</div>
{% endblock %}
